@import "layout", "config", "daily", "hourly", "air", "error";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: $primary-color;
  @include set-text-color($secondary-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 80px;
  padding: 0 10vw;
  background-color: $tertiary-color;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  div {
    display: flex;
    align-items: center;
  }
  .logo {
    color: $light-text;
    font-size: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .author {
      color: #adadad;
      margin-top: -12px;
      padding-top: 0px;
      padding-left: 70px;
      font-size: 18px;
    }
  }
  .search {
    color: $light-text;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    form {
      margin-right: 10%;
      width: 70%;
      height: 50%;
      display: flex;
      border: 1px solid rgb(219, 217, 217);
      input {
        flex-grow: 2;
        box-sizing: border-box;
        padding: 2px 10px;
        border: none;
        height: 100%;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
      }
      input:focus {
        outline: none;
        border: none;
        font-family: "Poppins", sans-serif;
      }

      button {
        height: 100%;
        background-color: white;
        border: none;
        font-size: 16px;
        padding: 2px 20px;
        box-shadow: none;
      }
    }
  }
}

.current {
  height: 50%;
  display: flex;
  .current-header {
    width: 60%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 10px;
    p {
      margin: 0;
      margin-right: -50%;
      .weather-for {
        font-size: 20px;
        padding-right: 5px;
      }
      .place {
        font-weight: bold;
      }
    }
    .location {
      font-size: 30px;
      margin-bottom: -10px;
    }
    .location-details {
      padding-bottom: 10px;
      width: 70%;
      span {
        padding-right: 5px;
      }
    }
    .time {
      margin-top: -10px;
      font-size: 20px;
    }
    .temperature {
      font-size: 50px;
    }
    .sensed {
      margin-top: -10px;
      font-size: 20px;
    }
  }

  .current-header-rest {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 15px;
      img {
        padding-right: 10px;
      }
      .sun-track {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

.current-details,
.components {
  font-size: 19px;
}

.current-details {
  height: 50%;
  width: 100%;
  background-color: $details-color;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .col {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    padding: 2% 2.5% 5% 2.5%;
    .detail-container {
      border-bottom: 1px solid #ebebeb80;
    }
    div {
      padding: 0 2.5%;
      display: flex;
      align-items: center;
      height: 25%;
      width: 95%;
      color: $light-text;
      .detail-title {
        width: 60%;
        height: 100%;
        img {
          width: 18%;
          padding-right: 10%;
        }
      }
      .detail-value {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        align-items: center;
        width: 40%;
        height: 100%;
      }
    }
  }
}

.filter {
  filter: invert(1) sepia(1) saturate(1) hue-rotate(347deg) !important;
}

@import "media";
